/**
 *   @Project:   全局的布局样式
 *   @Author:    Zi_Jun
 *   @Email:     zijun2030@gmail.com
 *   @Date:      2019/5/10 10:37
 *   @Note:
 */
/*********************************************/
/*              app高度设置100%                */
/*********************************************/
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

/*********************************************/
/*              页面加载渐进式显示               */
/*********************************************/

.fade-enter {
    opacity: 0;
}

.fade-leave {
    opacity: 1;
}

.fade-enter-active {
    transition: opacity .5s;
}

.fade-leave-active {
    opacity: 0;
    transition: opacity .5s;
}

/*********************************************/
/*              文章预览全局设置                */
/*********************************************/

.news-preview-modal {
    .ant-modal {
        height: ~"calc(100vh - 200px)";
        padding-bottom: 0;
        overflow: hidden;

        .ant-modal-header {
            padding-right: 54px;
        }

        .ant-modal-content {
            overflow: auto;
            height: 100%;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        p {
            margin: 0;
        }

        .ant-btn-primary {
            display: none;
        }
    }
}
